root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# indent
[{Makefile,go.mod,*.go}]
indent_style = tab

[{*.proto,*.json,*.yaml,*yml,*.tmpl,*.toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[{*.crt,*.key}]
insert_final_newline = false
