# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*.tmp

.env

.DS_Store
.vscode/
.idea/
.local/

Makefile.overrides
package-lock.json
coverage.out
coverage.html
Brewfile.lock.json

bin/
coverage/
node_modules/

poc_test.go
tests
